:root {
  --bg-color:#1E1E1E;
  --main-color: #2D2D2D
}

.EventApp {
  background-color: var(--bg-color);
  display: block;
  justify-content: space-between;
  flex-direction: row-reverse;
  font-family: 'SF Pro Display', sans-serif;
}

.header-for-events {
  display: block;
  flex-direction: column;
  margin-left: 5vw;
  color: #FFF;
  font-size: 50px;
  font-weight: 500;
  margin-top: 0px;
}

.all-events-container img {
  width: 86%;
  height: 200px;
  object-position: center;
  border-radius: 30px;
  top: 20px;
  left: 7%;
  position: relative;
}

.all-event-add {
  margin-top: 40px;
  width: 200px;
  height: 200px;
  border-radius: 30px;
  padding: 15px;
  background-color: var(--main-color);
  margin-left: 15px;
  display: grid;
  justify-content: center;
}

.all-event-add h2 {
  color:#FFF;
  font-size: 80px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 300;
  
}

.all-events-container {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  width: fit-content;
  gap: 20px;
    
  height: max-content;
  margin-top: 10px;
  position: relative;

}

.all-events-container h1 {
  color: #757575;
  font-size: 50px;
  font-weight: 500;
  margin-left: -6%;
}

.all-event {
  margin-top: 40px;
  background-color: var(--main-color);
  border-radius: 30px;
  height: max-content;
  padding-bottom: 30px;
  width: 300px;
}

.all-event-name {
  color: white;
  left: 8%;
  font-size: 28px;
  font-weight: 700px;
  top: 20px;
  position: relative;
}

.all-event-description {
  color: white;
  left: 8%;
  font-size: 16px;
  font-weight: 500;
  top: 30px;
  position: relative;
  width: 84%;
  margin-bottom: 30px;
}

.all-empty-div {
  height: 40vh;
}

.all-buttons {
  display: flex;
  flex-direction:row;
  gap: 20px;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 30px;
}

.all-event-price {
  background-color: #ab6a0e;
  border-radius: 30px;
  color: white;
  font-size: 12px;
  
  font-family: 'SF Pro Display', sans-serif;
  top: 46px;
  position: relative;
  width: fit-content;
  
  padding: 10px;
}

.all-event-time {
  border: none;
  background-color: #ab6a0e;
  font-family: 'SF Pro Display', sans-serif;
  border-radius: 30px;
  color: white;
  left: 8%;
  font-size: 12px;
  font-weight: 400px;
  top: 46px;
  position: relative;
  width: fit-content;
  margin-left: 10px;
  height: 30px;
  padding: 10px 10px 25px 10px;
} 

input {
  font-family: 'SF Pro Display', sans-serif;
}

input:focus {
  outline: 0;
}

textarea {
  font-family: 'SF Pro Display', sans-serif;
}

textarea:focus {
  outline: 0;
}

.name-field, .descr-field {
  background-color: var(--main-color);
  border: 0;
  border-radius: 25px;
  font-size: 30px;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  width: 550px;
  height: 36px;
  color: #FFF;
}

.descr-field {
  margin-top: 40px;
  /* height: 108px; */
  max-lines: 3;
  overflow-y: hidden;
  resize:vertical;
  height: fit-content;
}